h1{
    font-size:50px;
    text-align:center;
    color:#ffffff;
}
body{
    background-color:#00ff57;
}
.fun{
    display:grid;
    text-align:center;
}
.fun1{
      margin: 10px;
      padding: 100px;    
      background-color:#ffc700;
      text-decoration:none;
      border:solid , 10px;
      border-radius:100px;
      border-color:#ff0a00;
      
}
.fun2{
    margin:10px;
    padding:100px;
    background-color:#ff0a00;
    border:solid , 10px;
    border-radius: 100px;
    border-color:#ffc700;
    
}
#calcfoot{
    color:#fff12b;
    text-align:center;
    background-color:#0c4f00;
}
